.menu{
  float: right;
  padding-right: 20px;
}
.home{
  padding: 50px; 
  .content{
    display: flex;
  }
  .item{
    padding: 13px 18px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    box-shadow: 4px;
  }
}
.carousel{
  height: 300px;
  width: 300px;
}
.flex-page{
  display: flex;
  padding: 50px; 
  .page-left{
    width: 300px;   
  }
  .page-right{
    flex: 1;
    margin-left: 15px;
  } 
}
// 动画效果demo
.ani {
  width: 480px;
  height: 320px;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: center;
  animation-name: loops;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation:show-item 2s ease-in forwards;  */
}

@keyframes loops {
  0% {
    opacity: 1;
    background-color: yellow;
  }

  50% {
    opacity: 0.5;
    background-color: red;
  }

  100% {
    opacity: 0;
    background-color: green;
  }
}


