// :required('./styles.scss')

.mode-style {
  mix-blend-mode: difference;
  color: var(--font-color);
}

.border-style {
  border-color: inherit;
}

.header {
  @extend .mode-style;
  @extend .border-style;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 17px;
  border-bottom: 1px solid;

  .logo {
    display: flex;
    align-items: center;
    .icon {
      width: 40px;
      height: 40px;
    }

    .name {
      font-size: 30px;
      font-weight: 800;
      margin-left: 8px;
    }
  }

  .slogon {
    color: #9f9898;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 5px;
  }

  .menu {
    padding-right: 20px;
    display: flex;

    li a {
      @extend .mode-style;
      margin-right: 30px;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

/** 主页面 **/
.page {
  @extend .mode-style;
  padding: 50px 20px;
}

.home {
  padding: 50px;

  .right-content {
    position: absolute;
    right: 10px;
    top: 100px;
    display: inline-flex;
    flex-direction: column;
  }

  .item {
    @extend .border-style;
    width: 80px;
    padding: 13px 18px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 4px;
  }
}

// 排序
.chart {
  width: 500px;
  height: 500px;
}

// 轮播组件
.carousel {
  height: 300px;
  width: 300px;
}

.flex-page {
  display: flex;

  // padding: 50px; 
  .page-left {
    width: 300px;
  }

  .page-right {
    flex: 1;
    margin-left: 15px;
  }
}

// 动画效果demo
.ani {
  width: 480px;
  height: 320px;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: center;
  animation-name: loops;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation:show-item 2s ease-in forwards;  */
}

@keyframes loops {
  0% {
    opacity: 1;
    background-color: yellow;
  }

  50% {
    opacity: 0.5;
    background-color: red;
  }

  100% {
    opacity: 0;
    background-color: green;
  }
}

$my-font-style: #fff;