//深色模式
.dark-mode{
  height: 100vh;
  background: #00071f;
}

//浅色模式
.light-mode{
  height: 100vh;
  // background: #fefefe;
}

//页首
.light-mode .header{
  background: #9f9898
}
.dark-mode .header{
  background: #1e2749
}
