.App{
  /* 防止与子页面外边距重叠 */
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  /* border: 1px solid; */
}
/* 重置样式 */
body{
  margin: 0;
}
ul,li{
  list-style: none;
}

button{
  min-width: 50px;
  height: 24px;
  padding: 2px;  
}